@import "colors";

.footer {
    background-color: $navbar-color-dark;
    height: 60px;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    p {
      margin: 0px;
    }
  
    .footer__content {
      color: $text-light-grey;
    }
  }